addons:
  apt:
    packages:
    - libcurl4-openssl-dev

language: php
php:
  - hhvm
  - 7.0	
  - 5.6
  - 5.5
  - 5.4
  - 5.3
  - 5.2

before_script:
  - composer self-update
  - composer install

script: phpunit tests/ApiTest.php
