<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="OVH APIs wrapper">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="ENDPOINT" value=""/>
    <env name="APP_KEY" value=""/>
    <env name="APP_SECRET" value=""/>
    <env name="CONSUMER" value=""/>
  </php>
</phpunit>
