<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="./vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertWarningsToExceptions="true"
    convertNoticesToExceptions="true"
    convertDeprecationsToExceptions="true"
>
    <testsuites>
        <testsuite name="all">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>

        <report>
            <clover outputFile="build/logs/clover.xml" />
            <html outputDirectory="build/coverage" />
            <text outputFile="php://stdout" />
        </report>
    </coverage>

    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
</phpunit>